body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #d3bce6, #c9f2e3);
}

.card {
    background: #f4e8ff; /* Soft purple color */
    border-radius: 15px;
    padding: 20px;
    width: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.title {
    font-weight: bold;
    color: #2c3e50;
}

.toggle-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.toggle-buttons button {
    width: 48%;
    padding: 10px;
    border: none;
    background-color: #ddd;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.toggle-buttons button.active {
    background-color: #7d4ca2;
    color: white;
}

.toggle-buttons button:hover {
    background-color: #6a3995;
    color: white;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #2c3e50;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #7d4ca2;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #6a3995;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dashboard-container {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
